

.app__testimonial-brands {
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
    
    div {
        width: 150px;
        margin: 1.5rem;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: grayscale(1);
        }

        &:hover {
            img {
                filter: grayscale(0);
            }
        }

        @media screen and (min-width: 2000px) {
            width: 210px;
            margin: 2rem;
        }

        @media screen and (max-width: 450px) {
            width: 120px;
            margin: 1rem;
        }
    }

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}